@using ToDoList_gh.ViewModels
<h1>Lista zadań do wykonania</h1>
@model TasksViewModel
<a href="/List/AddTask" class="btn">Dodaj zadanie</a>
<table>
	<thead>
		<tr>
			<td>Numer</td>
			<td>Zadanie</td>
			<td>Priorytet</td>
			<td>Data zgłoszenia</td>
			<td>Przewidywany termin realizacji</td>
			<td>Data zakończenia</td>
			<td>Akcje</td>
		</tr>
	</thead>
	<tboody>
		@foreach (var zadanie in Model.Zadanias)
		{
			var zadanieZak = Model.Zadania_Zakonczone.FirstOrDefault(ze => ze.Zadanie_id == zadanie.Zadanie_id);
			<tr>
				<td>@zadanie.Zadanie_id</td>
				<td>@zadanie.Zadanie</td>
				<td>@zadanie.Slownik.nazwa</td>
				<td>@(zadanie.StartTime.ToString("yyyy-MM-dd") ?? " ")</td>
				<td>@(zadanie.DoTime?.ToString("yyyy-MM-dd") ?? " ")</td>
				<td>@(zadanieZak?.FinishTime?.ToString("yyyy-MM-dd") ?? " ")</td> <!-- Wyświetlamy datę zakończenia, jeśli istnieje -->
			</tr>
		}
	</tboody>
</table>
